# General usage development env. directories
/logs/*.log
/logs/**/*.log
/libs/libEnvRoot/*.psm1

# Data directories
/**/*.zip
/data/input/*.csv
/data/input/*.dat
/data/input/*.txt
/data/input/*.pdf

/data/input/Verification/*.csv
/data/input/Verification/*.dat
/data/input/Verification/*.txt
/data/input/Verification/*.pdf

/data/input/CCM_Plis/*.csv
/data/input/CCM_Plis/*.dat
/data/input/CCM_Plis/*.txt
/data/input/CCM_Plis/*.pdf

/data/input/Logs/*.log
/data/output/Logs/*.log
/data/output/*.dat

/Sandbox/genHTML/conf.xml

/data/input/testfolder/*.*
/data/input/testfolder2/*.*

/data/input/testfolder/*
/data/input/testfolder2/*

/projects/**/*.log



