# General usage development env. directories
/logs/*.log
/logs/**/*.log
/libs/libEnvRoot/*.psm1

# No Logs filter
/**/*.log

# No ZIP filter
/**/*.zip

# No Data directories filters
/data/**/*.csv
/data/**/*.dat
/data/**/*.txt
/data/**/*.pdf
/data/**/*.log
/data/**/*.xml
